.container-width {
  width: 96vw;
}
.kanban-column-height {
  height: 80dvh;
}
.news-container {
  height: 75dvh;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
